.App {
  text-align: center;
}

.opening {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  margin-bottom: 1000px;
}

.newPokemon {
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

.newPokemon1 {
  display: flex;
  flex-direction: row;
}

.space {
  display: flex;
  /* height: 2vh; */
  justify-content: center;
}
.register {
  background-color: blue;
  color: white;
  border: 2px solid black;
  padding: 5%;
  border-radius: 20px;
  margin-top: 5px;
  font-weight: bold;
  text-decoration: none;
}

.registerHunt {
  background-color: blue;
  color: white;
  border: 2px solid red;
  padding: 2%;
  border-radius: 20px;
  margin-top: 5px;
  font-weight: bold;
  text-decoration: none;
}

.register1 {
  background-color: blue;
  color: white;
  border: 2px solid black;
  padding: 5%;
  border-radius: 20px;
  margin-top: 5px;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
}

.buttonsOpenning {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 15vw;
}

.npcPokeball {
  display: flex;
  flex-direction: row;
  position: fixed;
}

.newPokemon {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: scroll;
}

.pokemon {
  width: 50vw;
}

.pokemon1 {
  width: 100vw;
}

.label {
  border: solid;
  width: 90%;
  padding: 5%;
  border-radius: 20px;
}

.submit {
  border: solid;
  width: 100%;
  padding: 5%;
  border-radius: 20px;
  background-color: red;
  color: white;
  font-size: 12pt;
  font-weight: bold;
}

.setPokeball {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

p {
  padding: 2% 2%;
  overflow: scroll;
}

.name {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
  padding: 20px 0;
}

.choose {
  background-color: white;
  border-top-style: solid;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid black;
}

.testUser {
  width: 50vw;
  height: 25vh;
}

.testNpc {
  width: 50vw;
  height: 25vh;
}

.header {
  display: flex;
  flex-direction: row;
  /* background-color: gray; */
  position: fixed;
  width: 100%;
  top: 0;
  height: 12vh;
  color: black;
  margin-bottom: 100vh;
  padding-top: 2vh;
  align-items: center;
  justify-content: space-around;
}

.home {
  width: 10vw;
}

.logout {
  width: 10vw;
}

.trainer {
  padding-top: 0;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60%;
}

h4 {
  margin: 2vh;
}

.typeA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: black;
}

.trainerPokemon {
  width: 50%;
}

.trainerA {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.levelName {
  padding-top: 20px;
  color: black;
  font-weight: bolder;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

.moveContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  width: 150%;
  overflow: scroll;
  border: 5px solid red;
  background-color: gray;
  color: black;
  border-radius: 20px;
}

.pokemonDetails {
  border-style: solid;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
}

.trainerName {
  color: white;
  background-color: rgba(255, 0, 0, 0.7);
  margin-bottom: 10px;
  margin-top: -25px;
}

.movesets {
  margin-top: 20px;
  padding-bottom: 20px;
  color: black;
  border-style: solid;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
}

.specificPokemon {
  width: 150%;
  text-align: left;
}

.specificPokemonB {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  /* background-image: linear-gradient(-180deg, green, black); */
  background-color: black;
  height: 75vh;
  margin-top: 15vh;
  overflow: scroll;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  background-image: linear-gradient(-180deg, red, blue);
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-stretch: narrower;
  width: 100%;
  font-size: 20pt;
  text-decoration: none;
  height: 10vh;
  border: 2px solid black;
  color: white;
  font-weight: bolder;
  margin-top: 2px;
  background-color: black;
}

.forest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: green;
}

.forestBat {
  background-image: linear-gradient(-60deg, green, black);
  height: 65vh;
  overflow: scroll;
}

.tips {
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: medium;
}

.grass {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height: 60vh;
  width: 100%;
  background-color: black;
  color: white;
}

.possible {
  background-color: rgba(255, 255, 255, 0.7);
}
.woods {
  margin: 0 0;
}

.grassImg {
  width: 100%;
}

.pokemonContainer {
  height: 25vh;
  width: 100%;
  overflow: scroll;
}

.box {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px;
  width: 90%;
  height: 20%;
  border: 2px solid;
}

.npc {
  display: flex;
  flex-direction: column;
}

.npcA {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.npcB {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: white;
  font-weight: bold;
}

.npcPokemon {
  width: 50vw;
  margin-left: 25%;
  /* animation-name: stallNpc;
  animation-duration: 2s;
  animation-iteration-count: infinite; */
}

.entireUser {
  height: 80%;
}

.pokeAtCenter {
  width: 50%;
}

.userA {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.imagePoke {
  width: 100%;
}

.imagePoke1 {
  margin-bottom: 10px;
  width: 15%;
}

.healPoke {
  width: 100%;
}

.league {
  background-image: linear-gradient(180deg, red, black, blue);
  height: 100%;
  overflow: scroll;
}

.sparePokemons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  background-color: white;
  height: 20%;
  padding-top: 5%;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.sparePokemons1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 25%;
}

.userPokemon {
  width: 70vw;
  animation-name: stallUser;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

/* .userPokemonFade {
  width: 50vw;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-delay: initial;
  animation-iteration-count: infinite;
} */

.userPokemonFade {
  width: 70vw;
  animation-name: fade;
  animation-delay: initial;
  animation-duration: 3s;
  animation-iteration-count: inherit;
  opacity: 0;
}

.league1 {
  background-color: black;
  height: 100%;
  overflow: scroll;
}

.opponent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.userB {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.userFX {
  width: 50%;
  position: fixed;
}

.npcFX {
  width: 50%;
  position: fixed;
}

.maxhealthbar {
  position: relative;
  height: 2vh;
}

.divBall {
  padding: 0 0;
}

.pokecenter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

/* .pokecenter0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
} */

.pokecenter1 {
  display: flex;
  justify-content: center;
}

.gym {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.7);
}

.leader {
  width: 60%;
}

.hpBar {
  width: 50%;
}

.trophy {
  width: 65vw;
}

.name {
  font-weight: bold;
  padding: 2vh 2vw;
  background-color: gold;
  opacity: 1;
  color: black;
  width: 100vw;
}

.champPokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.champImg {
  width: 80vw;
}

.headChamp {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  width: 100vw;
  padding: 2vh 2vw;
  margin: 0 0;
}

.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.elite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.four {
  width: 25%;
}

.currentLeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currentLeaderImage {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.healthbar {
  background: rgb(71, 167, 71);
  height: 100%;
  border-radius: inherit;
  border: 2px solid black;
  transition: width 0.5s ease-in;
}

.danger {
  background: rgb(200, 10, 10);
  height: 100%;
  border-radius: inherit;
  border: 2px solid black;
  transition: width 0.5s ease-in;
}

.champContainer {
  display: flex;
  flex-direction: column;
  padding: 2vh 3vw;
  background-color: black;
  border-radius: 20px;
  border-style: groove;
  border-width: 7px;
  border-color: gold;
  align-items: center;
  justify-content: center;
  color: white;
}

.npcMove {
  width: 50vw;
  margin-left: 25%;
  animation-name: npcAttack;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
}

.castle {
  width: 100%;
  height: 100%;
}

.introImg {
  width: 100%;
  /* position: fixed; */
}

.capture {
  width: 8%;
}

.userMove {
  width: 70vw;
  margin-left: -25%;
  animation-name: userAttack;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.npcPokemonFade {
  width: 50vw;
  margin-left: 25%;
  animation-name: fade;
  animation-delay: initial;
  animation-duration: 3s;
  animation-iteration-count: inherit;
  opacity: 0;
}

.evolveContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 50vh;
}

.evolveMoves {
  margin-top: 35vh;
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  padding: 2vh 2vw;
  position: fixed;
}

.evolveMovesA {
  color: black;
  display: flex;
  margin-top: 1vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.evolveMovesB {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.evolved {
  width: 35vh;
  animation-name: evolve;
  animation-duration: 4s;
  animation-iteration-count: inherit;
}

.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.loading {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

.prevPokemon {
  width: 20vh;
}

.faded {
  position: fixed;
  width: 20vh;
  animation-name: evolved;
  animation-duration: 4s;
  animation-iteration-count: inherit;
  opacity: 0;
}

.deleteMove {
  background-color: red;
  color: white;
  border: 2px solid black;
  padding: 1%;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
}

.pokemonMaster {
  font-size: 9pt;
  font-weight: bolder;
}

@keyframes evolved {
  0% {
    opacity: 1;
    width: 10vh;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  93% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes evolve {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    width: 10vh;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    width: 15vh;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;

    width: 20vh;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    width: 25vh;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    width: 30vh;
  }
  93% {
    opacity: 0;
  }
  95% {
    opacity: 1;
    width: 35vh;
  }
  97% {
    opacity: 1;
    width: 35vh;
  }
  100% {
    opacity: 1;
    width: 35vh;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes stallNpc {
  0% {
    margin-left: 0%;
  }

  50% {
    margin-left: 0%;
  }

  100% {
    margin-left: 10%;
  }
}

@keyframes stallUser {
  0% {
    margin-right: 0%;
  }
  45% {
    margin-left: 3%;
    margin-top: -2%;
  }
  100% {
    margin-left: 0%;
    margin-top: 0%;
  }
}

@keyframes npcAttack {
  0% {
    margin-left: 0%;
    opacity: 0;
  }
  25% {
    /* transform: rotateZ(-15deg); */
    opacity: 0.5;
    margin-top: 10%;
    transform: rotateZ(5deg);
  }
  35% {
    margin-left: -120%;
    margin-top: 25%;
    opacity: 1;
    transform: rotateZ(-25deg);
  }
  50% {
    /* margin-left: -50%; */
    /* margin-top: 0%;
    /* opacity: 0; */
    /* transform: rotateZ(0deg);  */
    /* opacity: 1; */
  }
  75% {
    /* margin-left: -15%; */
    /* margin-top: -15%; */
  }
  100% {
    margin-left: 0%;
    margin-top: 0%;
    opacity: 1;
  }
}

@keyframes userAttack {
  0% {
    margin-right: 0%;
    opacity: 0;
  }

  15% {
    width: 50vw;
    margin-left: 70%;
    margin-top: -100%;
    /* transform: rotateZ(15deg); */
  }
  20% {
    width: 50vw;
    margin-left: 150%;
    margin-top: -100%;
    opacity: 1;
    transform: rotateZ(10deg);
  }
  50% {
    /* width: 65vw; */
    margin-left: 70%;
    margin-top: -100%;
    opacity: 0.8;
    transform: rotateZ(0deg);
  }

  70% {
    /* width: 65vw; */
    margin-left: 50%;
    margin-top: -50%;
    opacity: 0.8;
    transform: rotateZ(0deg);
  }

  75% {
    margin-left: 15%;
    opacity: 0;
    /* margin-top: -15%; */
  }
  100% {
    margin-left: 0%;
    margin-top: 0%;
    /* opacity: 1; */
  }
}

@media (min-width: 600px) {
  .App {
    background-color: black;
  }
  .header {
    background-color: white;
    /* border: solid red; */
    margin-bottom: 0;
    justify-content: space-evenly;
  }
  .home {
    width: 7vw;
  }
  .logout {
    width: 7vw;
  }
  .title {
    font-size: 36pt;
  }

  .choose {
    width: 100vw;
  }

  .pokemon {
    width: 15vw;
  }

  .pokeball {
    width: 5vw;
  }
  .register {
    padding: 25px 25px;
  }

  .main {
    height: 75vh;
  }

  .menuButton {
    height: 20vh;
  }

  .menu {
    height: 100vh;
    padding-top: 0;
    border: solid red;
    background-color: black;
  }

  .grass {
    width: 5vw;
    height: 10vh;
  }
  .grassImg {
    width: 10vw;
  }

  .trainerPokemon {
    width: 10vw;
  }

  .moveContainer {
    width: 50vw;
  }

  .sparePokemons {
    height: 15vh;
    padding-top: 0;
    position: none;
    align-items: center;
    margin-bottom: 80px;
    background-color: burlywood;
  }

  .forestBat {
  }

  .npcPokemon {
    width: 20vw;
  }

  .npcMove {
    width: 20vw;
  }

  .userPokemon {
    width: 25vw;
  }

  .userPokemonFade {
    width: 25vw;
  }

  .npcPokemonFade {
    width: 25vw;
  }

  .userMove {
    width: 25vw;
  }

  .register1 {
    padding: 25px 25px;
  }

  .userFX {
    width: 30vw;
  }

  .npcFX {
    width: 30vw;
  }

  .pokeAtCenter {
    width: 18vw;
  }

  .loading {
    width: 10vw;
  }

  .gymBall {
    width: 3vw;
  }

  @keyframes userAttack {
    0% {
      margin-right: 0%;
      opacity: 0;
    }

    15% {
      width: 25vw;
      margin-left: 70%;
      margin-top: -20%;
      /* transform: rotateZ(15deg); */
    }
    20% {
      width: 25vw;
      margin-left: 150%;
      margin-top: -30%;
      opacity: 1;
      transform: rotateZ(10deg);
    }
    50% {
      /* width: 65vw; */
      margin-left: 70%;
      margin-top: -30%;
      opacity: 0.8;
      transform: rotateZ(0deg);
    }

    70% {
      /* width: 65vw; */
      margin-left: 50%;
      margin-top: -10%;
      opacity: 0.8;
      transform: rotateZ(0deg);
    }

    75% {
      margin-left: 15%;
      opacity: 0;
      /* margin-top: -15%; */
    }
    100% {
      margin-left: 0%;
      margin-top: 0%;
      /* opacity: 1; */
    }
  }
}
